* {
  margin: 0%;
  box-sizing: border-box;
}

.main-head {
  font-size: 18px;
}

nav {
  background: #3f6d69;
  width: 100%;
  color: white;
  height: 50px;
}
nav h1 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: white;
}
.image {
  height: 664px;
  width: 100px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
